@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    
}
:root{
    --white: #e7e6e8;
    --black: black;
}
main{
  background-color: #0f051d;
    width: 100%;
    height: fit-content;
    padding-bottom: 160px;
}
@media (min-width:1800px) {
    .choose_image{
        margin-top: 100px;
        width: 40%;
    }
}
@media(max-width:950px){
    main{
        padding-bottom: 80px;
    }
}